/*########### DEFAULT #############*/
nav,header,footer{
    
    display: block;
}

body{
    line-height: 1;
    margin: 0;
}

label{
    
    font-size: 35px;
    font-weight: 600px;
}

p{
    font-size: 22px;
    line-height: 1.2;
}

article p{
    
    font-size: 31px;
    padding: 20px;
}

.container{
    
    width: 100;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*########### NAV BAR #############*/

nav {
    
    margin: 0;
    width: 100%;
    
}

nav ul{
    
    overflow: hidden;
    background-color: #eee;   
    padding: 0;
    margin: 0;
    
}

ul.topnav li{
    
    list-style: none;
    float: left;
    
}

ul.topnav li.topnav-right{
    
    float: right;
    
}

ul.topnav li a{
    
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
    
}

ul.topnav li a:hover{
    
    background-color: #0080ff;
    color: #fff;
    
}

ul.topnav li.dropdownIcon{
        
        display: none;

    }

/*########### CUSTOM STYLES #############*/

#section-1-gradient{
    
    background: #076DFF; /* For browser that don't support Gradients */
    background: -webkit-linear-gradient(#076DFF,#65a5ff);/* For safari 5.1 to 6.0 */
    background: -o-linear-gradient(#076DFF,#65a5ff);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#076DFF,#65a5ff);/* For Firefox 3.6 to 15 */
     background: linear-gradient(#076DFF,#65a5ff);/* Standard syntax */   
}

* {
    
    box-sizing: border-box;
}

div.box{
    
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
   
}

div.icon{
    
    width: 100%;    
}

div.bottomPic img{
    
    display: block;
    margin: auto;
    box-shadow: -2px -2px 5px 20px rgba(0,0,0,.15),2px 2px 17px 0 rgba(0,0,0,1);
    
}
button{
    
    font-size: 32px;
    font-weight: 700px;
    color: #fff;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 14px;
}

button.learnMore{
    
    display: block;
    margin: auto;
}


.leftside-col{
    
    margin-left:30%;  
}

.rightside-col{
    
    margin-left: 15%; 
}

.row{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}

h1.large{
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

h1.section2Header{
    font-size: 65px;
    text-align: center;
}

form h2{
    
    color: #fff;
}

input[type="text"]{
   
     font-size: 20px;
     width: 400px;
     min-width: 100px;
     padding: 5px;
     border-radius: 7px;
}

input[type="password"]{
   
     font-size: 20px;
     width: 400px;
     min-width: 100px;
     padding: 5px;
     border-radius: 7px;
}

footer.footsy{
    
    background-color: #666;
    padding-left: 10%;
    margin-bottom: 0;
      
}

footer.footsy h1{
    
    color: white;
    font-size: 35px;
}

footer.footsy ul{
    
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    
    font-size: 22px;
    line-height: 1.2;
    color: white;
}

/*########### MOBILE #############*/

@media screen and (max-width:680px){
    
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    
    ul.topnav li.dropdownIcon{
        
        display: block;
        float: right;
    }
    
     ul.topnav.responsive li.dropdownIcon{
        
         position: absolute;
         top: 0;
         right: 0;
    }
    
    ul.topnav.responsive {
        
        position: relative;
    }
    
    ul.topnav.responsive li{
        
        display: inline;
        float: none;
    }
    
     ul.topnav.responsive li a{
        
        display: block;
        text-align: left;
    }
    
    h1.section2Header{
        font-size: 45px;
    }
    
    article p{
        
        font-size: 25px;
    }
    
    .col-7,
    .col-6,
    .col-5,
    .col-4{
        width: 100%;
        margin: 0;
    }
    
    div.mobileStack{
        
        width: 50%;
        display: block;
    }
    div.box{
        
        padding:5px;
        display: block;
    }
    
    div.bottomPic{
        margin: 10px;
    }
    
    div.bottomPic img{
        width: 100%;
    }
    
    div.leftside-col,
    div.rightside-col{
        
        margin: 15px;
    }
    
    input[type="text"]{
        
        width: 350px;
    }
    
    .videoContainer iframe{
        
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}